* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}

#navbar {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}
#left-nav {
  position: relative;
  padding: 0.5rem;
  height: 3rem;
  width: 14rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
.country {
  position: absolute;
  font-size: small;
  right: 1rem;
  margin-left: 5px;
}
.ham-icon {
  height: 2rem;
}
.yt-logo {
  width: 6rem;
  margin-right: 1rem;
}
#right-nav {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 3rem;
  width: 100%;
}
.search-group {
  margin-left: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-search-bar {
  width: 33rem;
  height: 2.5rem;
  padding-left: 5px;
  font-size: 1rem;
  border: 1px solid lightgray;
}
.nav-search-button {
  height: 2.6rem;
  width: 3.5rem;
  border: 1px solid lightgray;
}
.nav-search-button img {
  height: 1.5rem;
}
.profile-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile-group span {
  margin: 0px 15px;
  font-size: 1.8rem;
}
.dp-image {
  border-radius: 50%;
  width: 2.3rem;
  margin: 0px 20px;
}
#main-body {
  margin-top: 4rem;
  display: flex;
}

#left-main-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  padding-top: 1rem;
  position: fixed;
}
.icon-text-group:first-child {
  background-color: #f1f1f1;
}
.icon-text-group {
  padding: 0.5rem 4rem 0.5rem 0.5rem;
}
.icon-text-group:hover {
  background-color: #f1f1f1;
}

.hr-border {
  height: 1px;
  background-color: #dadada;
  width: 100%;
  margin: 1rem 0rem;
}
.icon-text {
  display: flex;
  align-items: center;
}
.icon-text span {
  margin-left: 1rem;
}
#right-main-section {
  margin-left: 14rem;
  width: 100%;
  height: 100vh;
  background-color: rgb(243, 243, 243);
}
.filter-bar {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  height: 3rem;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  padding: 5px 20px;
}
.filter-bar div {
  background-color: #f1f1f1;
  border: 1px solid #cecece;
  border-radius: 100px;
  padding: 6px 12px;
  width: max-content;
}
.filter-bar div:hover {
  background-color: black;
  color: #f1f1f1;
  border-color: black;
}
.filter-bar div:first-child {
  background-color: black;
  color: white;
  border-color: black;
}

#right-videos-section {
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
}
.video-div {
  width: 15rem;
  margin: 1rem 0.6rem;
  z-index: 1;
}
.thumbnail-div {
  position: relative;
}
.thumbnail-div img {
  width: 15rem;
}
.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: smaller;
  border-radius: 2px;
  background-color: #000000cc;
  color: white;
  padding: 3px;
}
.video-details {
  padding-top: 0.5rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.video-details img {
  width: 2rem;
  border-radius: 100%;
}
.video-title {
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.channel-name {
  margin-top: 0.3rem;
  font-weight: lighter;
  font-size: small;
  color: #606060;
}
.views-nd-since {
  font-weight: lighter;
  font-size: small;
  color: #606060;
}
